/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

body
{
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
  /* overflow-y: hidden; */
}

.in-view span
{
  font-size: 3vw;
  color: #29c657;
}

a:link {
  color: rgb(27, 185, 182);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: rgb(27, 185, 182);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right, #2c4faae8 0%, #26a0daed 51%, #4840f4eb 100%);
  border-radius: 5px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(to right, #2c4faae8 0%, #26a0daed 51%, #4840f4eb 100%);
  ;
}

/* navbar styling */
nav {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: 'Ubuntu', sans-serif;
}

nav.sticky {
  background-image: linear-gradient(to right, rgb(44 79 170 / 77%) 0%, rgb(38 160 218 / 92%) 51%, rgb(72 64 244 / 63%) 100%);
  padding: 13px 0;
}

nav .navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

nav .navbar .logo a {
  font-weight: 500;
  font-size: 35px;
  color: #4070f4;
}

nav.sticky .navbar .logo a {
  color: #fff;
}

nav .navbar .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

nav .navbar .menu li {
  list-style: none;
  margin: 0 8px;
}

.navbar .menu a {
  font-size: 19px;
  font-weight: 500;
  color: #ffffff;
  padding: 5px 14px;
  transition: all 0.4s ease;
  letter-spacing: 1px;
}

.navbar .menu a:hover {
  color: #000000;
  background-color: #fefefe9c;
  border-radius: 10px;
}

nav.sticky .menu a {
  color: rgb(0, 0, 0);
}

nav.sticky .menu a:hover {
  color: #194f6e;
}

.navbar .media-icons a {
  color: #2e98d6;
  font-size: 20px;
  margin: 0 6px;
}

.navbar .media-icons a:hover {
  color: rgb(95, 208, 42);
  font-size: 20px;
  margin: 0 6px;
}

.media-icons svg {
  position: relative;
  left: 0.5vw;
  top: 0.3vw;
  color: rgb(12, 16, 16);
}

nav.sticky .media-icons a {
  color: rgb(255 255 255);
}

/* Side Navigation Menu Button CSS */
nav .menu-btn,
.navbar .menu .cancel-btn {
  position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}

nav .menu-btn {
  color: #4070f4;
}

nav.sticky .menu-btn {
  color: #FFF;
}

.navbar .menu .menu-btn {
  color: #fff;
}

/* home section styling */
.home {
  height: 100vh;
  width: 100%;
  background: url("Images/clint-patterson-dYEuFB8KQJk-unsplash.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}

.home .home-content {
  width: 90%;
  height: 200%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home .text-one {
  font-size: 25px;
  color: #dbf1ffd1;
}

.home .text-two {
  color: #dbf1ffd1;
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.home .text-three {
  font-size: 40px;
  margin: 5px 0;
  color: #4070f4;
}

.home .text-four {
  font-size: 23px;
  margin: 5px 0;
  color: #dbf1ffd1;
}

.home .button {
  margin: 14px 0;
}

.home .button button {
  background-image: linear-gradient(to right, #2c4faa 0%, #26a0da 51%, #4840f4 100%);
  margin: 0px;
  padding: 11px 42px;
  text-align: center;
  /* text-transform: uppercase; */
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* box-shadow: 0 0 20px #eee; */
  border-radius: 10px;
  display: block;

}

.home .button button:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* EDUCATION DETAILS */
section {
  padding-top: 85px;
  padding-bottom: 10px;
}

section .content {
  width: 80%;
  margin: 40px auto;
  font-family: 'Poppins', sans-serif;
}

.education {
  background-image: url("./Images/bg3.jpg");
  background-attachment: fixed;
}

/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  background-color: #0c0f17;
  color: #fff;
  overflow-x: hidden;
  padding-bottom: 50px;
}


/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro {
  background: #f45b69;
  padding: 100px 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  /* border: 3px solid #f1f1f1; */
  /* transform: translate(-50%, -50%); */
  z-index: 2;
  text-align: center;
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background-color: #21b0d052;
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #29c657 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #29c657;
}

time {
  display: block;
  font-size: 2.0rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #2995b0;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .in-view span
  {
    font-size: 35px;
  }
  .timeline ul {
    position: relative;
    left: -31px;
}
.timeline ul {
  width: 100vw;
}
  body
  {
    overflow-x: hidden;
  }
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #29c657 transparent transparent;
  }
}


/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-clippy ul li::after {
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.timeline-rhombus ul li::after {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
  bottom: 12px;
}

.timeline-star ul li::after {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.timeline-heptagon ul li::after {
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}

.timeline-infinite ul li::after {
  animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.25);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}


/* FOOTER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  position: fixed;
  right: 0;
  bottom: 20px;
  display: flex;
  align-items: center;
  padding: 5px;
  color: black;
  background: rgba(255, 255, 255, 0.65);
}

.page-footer a {
  display: flex;
  margin-left: 4px;
}

/* About Section Styling */
/* Those Elements Where We Have Apply Same CSS,
 I'm Selecting Directly 'Section Tag' and 'Class'  */
 section {
  padding-top: 45px;
  padding-bottom: 85px;
}

section .content {
  width: 80%;
  margin: 40px auto;
  font-family: 'Poppins', sans-serif;
}

.about {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/61/984/903/simple-background-gradient-wallpaper-preview.jpg");
  background-attachment: fixed;
}

.about .about-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section .title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

section .title span {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}

section .title span::before,
section .title span::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #4070f4;
  left: 0;
  bottom: 0;
}

section .title span::after {
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.about .about-details .left {
  width: 45%;
}

.about .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 12px;
}

.about-details .right {
  width: 55%;
}

section .topic {
  color: #15f3d4;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.about-details .right p {
  text-align: justify;
  color: #00a1ff;
}

.right span {
  color: rgb(255, 255, 255);
}

section .button {
  margin: 16px 0;
}

section .button button {
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 400;
  background: #4070f4;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}

section .button button:hover {
  border-color: #4070f4;
  background-color: #fff;
  color: #4070f4;
}

/* My Skills CSS */
.skills {
  background-image: url("https://img.freepik.com/free-vector/gradient-black-background-with-cubes_52683-76210.jpg");
  background-attachment: fixed;
}

.skills .content {
  padding: 40px 0;
}

.skills .skills-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills-details .text {
  width: 50%;
}

.skills-details p {
  color: #14FF86;
  text-align: justify;
}

.skills .skills-details .experience {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.skills-details .experience .num {
  color: #0E2431;
  font-size: 80px;
}

.skills-details .experience .exp {
  color: #0E2431;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
  margin: 0 6px;
}

.skills-details .boxes {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills-details .box {
  width: calc(100% / 2 - 20px);
  margin: 20px 0;
}

.skills-details .boxes .topic {
  font-size: 20px;
  color: #4070f4;
}

.skills-details .boxes .per {
  font-size: 60px;
  color: #4070f4;
}

/* My Services CSS */
.services .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services .boxes .box {
  margin: 20px 0;
  width: calc(100% / 3 - 20px);
  text-align: center;
  border-radius: 12px;
  padding: 30px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  cursor: default;
  transition: all 0.4s ease;
}

.services .boxes .box:hover {
  background: #4070f4;
  color: #fff;
}

.services .boxes .box .icon {
  height: 50px;
  width: 50px;
  background: #4070f4;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
  margin: 0 auto 10px auto;
  transition: all 0.4s ease;
}

.boxes .box:hover .icon {
  background-color: #fff;
  color: #4070f4;
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p {
  color: #0E2431;
  transition: all 0.4s ease;
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p {
  color: #fff;
}

/* Contact Me CSS */
.contact {
  background: #F0F8FF;
}

.contact .content {
  margin: 0 auto;
  padding: 30px 0;
}

.contact .text {
  width: 80%;
  text-align: center;
  margin: auto;
}

/* Footer CSS */
footer {
  background: #4070f4;
  padding: 15px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

footer .text span {
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}

footer .text span a {
  font-weight: 500;
  color: #FFF;
}

footer .text span a:hover {
  text-decoration: underline;
}

/* Scroll TO Top Button CSS */
.scroll-button a {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #4070f491;;
  padding: 7px 12px;
  z-index: 999;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: none;
  border: 2px solid #4070f4;

}

/* Responsive Media Query */
@media (max-width: 1190px) {
  section .content {
    width: 85%;
  }
  #timeline {
    display: flex;
    flex-direction: column;
    background-color: #031625;
    flex-direction: column;
    align-items: center;
}
.tl-item:hover {
  width: 96% !important;
}
.tl-year {
  top: 45%;
  width: 58%;
}
#timeline:hover .tl-item {
  width: 90%;
}
#timeline .t1-item{
  width: 90%;
}
}

@media (max-width: 1000px) {
  .about .about-details {
    justify-content: center;
    flex-direction: column;
  }

  .about .about-details .left {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .about-details .right {
    width: 90%;
    margin: 40px 0;
  }

  .services .boxes .box {
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }
  #timeline {
    display: flex;
    flex-direction: column;
    background-color: #031625;
    flex-direction: column;
    align-items: center;
}
.tl-item:hover {
  width: 96% !important;
}
}

@media (max-width: 900px) {
  .about .left img {
    height: 350px;
    width: 350px;
  }
  #timeline {
    display: flex;
    flex-direction: column;
    background-color: #031625;
    flex-direction: column;
    align-items: center;
}
.tl-item:hover {
  width: 96% !important;
}
}

@media (max-width: 750px) {
  nav .navbar {
    width: 90%;
  }

  nav .navbar .menu {
    position: fixed;
    left: -100%;
    top: 0;
    background: #0E2431;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }

  .navbar.active .menu {
    left: 0;
  }

  nav .navbar .menu a {
    font-size: 23px;
    display: block;
    color: #fff;
    margin: 10px 0;
  }

  nav.sticky .menu a:hover {
    color: #4070f4;
  }

  nav .navbar .media-icons {
    display: none;
  }

  nav .menu-btn,
  .navbar .menu .cancel-btn {
    display: block;
  }

  .home .text-two {
    font-size: 65px;
  }

  .home .text-three {
    font-size: 35px;
  }

  .skills .skills-details {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .skills-details .text {
    width: 100%;
    margin-bottom: 50px;
  }

  .skills-details .boxes {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .services .boxes .box {
    margin: 20px 0;
    width: 100%;
  }

  .contact .text {
    width: 100%;
  }
  #timeline {
    display: flex;
    flex-direction: column;
    background-color: #031625;
    flex-direction: column;
    align-items: center;
}
.tl-item:hover {
  width: 96% !important;
}
}

@media (max-width: 500px) {
  .home .text-two {
    font-size: 55px;
  }

  .home .text-three {
    font-size: 33px;
  }

  .skills-details .boxes .per {
    font-size: 50px;
    color: #4070f4;
  }
  .home section
  {
      padding-top: 85px;
      padding-bottom: 310px;
  }
  #timeline {
    display: flex;
    flex-direction: column;
    background-color: #031625;
    flex-direction: column;
    align-items: center;
}
.tl-item:hover {
  width: 96% !important;
}
.tl-item
{
  width: 90% ;
}
.about{
  padding-top: 85px;
  padding-bottom: 10px;
}
.education
{
    padding-top: 0px;
    padding-bottom: 10px;
}
.timeline  {
  padding-top: 0px;
  padding-bottom: 0px;
}
.skills  {
  padding-top: 0px;
  padding-bottom: 0px;
}
.project  {
  padding-top: 0px;
  padding-bottom: 0px;
}
}



/* skills CSS */
.wrapper {
  width: 40%;
  min-width: 570px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.container {
  width: 100%;
  padding: 30px 30px 50px;
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

.container * {
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 500;
}

h2 {
  margin-bottom: 50px;
  letter-spacing: 2px;
  text-align: center;
  font-size: 33px;
  font-weight: bold;
}



.skills:not(:last-child) {
  margin-bottom: 25px;
}

.details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.bar {
  position: relative;

  border: 2px solid #0d96e0;

  border-radius: 20px;
}

.bar div {
  position: relative;
  width: 0;
  height: 9px;
  border-radius: 10px;
  background-color: #0d96e0;
}

/* C bar */
#C-bar {
  animation: C-fill 2s forwards;
}

@keyframes C-fill {
  100% {
    width: 95%;
  }
}

/* C++ bar */
#Cpp-bar {
  animation: Cpp-fill 2s forwards;
}

@keyframes Cpp-fill {
  100% {
    width: 90%;
  }
}

/* Python bar */
#Py-bar {
  animation: Py-fill 2s forwards;
}

@keyframes Py-fill {
  100% {
    width: 75%;
  }
}

/* HTML bar */
#HTML-bar {
  animation: HTML-fill 2s forwards;
}

@keyframes HTML-fill {
  100% {
    width: 90%;
  }
}

/* HTML bar */
#CA-bar {
  animation: CA-fill 2s forwards;
}

@keyframes CA-fill {
  100% {
    width: 70%;
  }
}

/* JS bar */
#JS-bar {
  animation: JS-fill 2s forwards;
}

@keyframes JS-fill {
  100% {
    width: 70%;
  }
}

/* CSS bar */
#css-bar {
  animation: css-fill 2s forwards;
}

@keyframes css-fill {
  100% {
    width: 85%;
  }
}

/* CSS bar */
#java-bar {
  animation: java-fill 2s forwards;
}

@keyframes java-fill {
  100% {
    width: 70%;
  }
}

/* BOOTSTRAP bar */
#BS-bar {
  animation: BS-fill 2s forwards;
}

@keyframes BS-fill {
  100% {
    width: 70%;
  }
}

/* Operating System bar */
#OS-bar {
  animation: OS-fill 2s forwards;
}

@keyframes OS-fill {
  100% {
    width: 75%;
  }
}

/* Projects */
.project {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/61/984/903/simple-background-gradient-wallpaper-preview.jpg");
  background-attachment: fixed;
}

.home{
  padding-top: 85px;
  padding-bottom: 310px;
}